.correct-option{
  color:green;
  font-weight: bold;
}

.wrong-option{
  color:red;
}

.normal-option{
  color:black;
}

.missed-option{
  color:orange;
}

.ace_editor  {
  height : 300px;
}

.button-transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.tab-content{
	padding: 5px;
}

.ta-editor{
	padding: 10px;
	height: auto;
    overflow: auto;
    font-family: inherit;
	min-height: 100px;
	width: auto;
	visibility: visible;
}

.question-body {
	padding: 10px 0;
  font-size: 1.2em;
}

.question-id {
  margin-left: 16px;
}

.container {
  width: 960px;
}

.hideElement{
	visibility: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}