body {
  font-family: "Helvetica";
}
.qn-page-header{
  padding:10px;
}

.not_found_img{
  max-height: 70%;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scrollable-select{
  height:300px;
  overflow: auto;
  width: auto;
}

#distribute-paper{
  margin-top:20px;
}

.question-fixed-height{
  overflow: auto;
  height:500px;
  width: auto;
}

.wrapper{
  margin:10px;
}

.container{
    height: 80%;
    width: 80%; 
}

.exam-info{
  padding:15px;
}

#exam-fullsize {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box-footer{
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 18px;
  padding:10px;
  margin-top:10px;
  font-weight: lighter;
}

.ta-box{  
  width:auto;
  height:250px;
  /*box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);*/
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:20px;
  background: #ECECEC;
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
  position:relative;
}

.dropdown{
  cursor:pointer;
}

.big-image{
  align:middle;
}

.grader-title{
  font-weight: 100;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  margin-bottom: 10px;
}

.assigned-paper{
  font-size: 15px;
  font-weight: lighter;
  color:#436492;
}

.graded-paper{
  font-size: 15px;
  font-weight: lighter;
  color:#446448;
}

.grading-paper{
  font-size: 15px;
  font-weight: lighter;
  color:#A84802;
}

.ta-box-content{
    width: 100%;
    height:100%;
    padding:20px;
    position: absolute;
}

.box-overlay{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.75);
  text-align:center;
  line-height: 250px;
  vertical-align: middle;
  opacity:0;
  position:absolute;
  cursor:pointer;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}
.visible-overlay{
  opacity: 1
}

.white-icon{
  color:white;
}

.dashboard-heading{
  background-color: #DCDCDC !important;
}

.graph-label{
  font-weight: light;
  color:grey;
  padding-top:10px;
}

.dropdown-menu{
  padding:10px;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.dashboard-title{
    color:#585858 !important;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*.exam-chart{
  width: 500px  !important;
  height:300px  !important;
}*/

@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.submissionGrid {
    width: 1100px;
    height: 250px;
    border: 1px solid rgb(212,212,212);
  }

.nav-tabs, .nav-pills {
    text-align:center;
}

.grid-center-align{
  text-align:center;
}

.grid-right-align{
  text-align: right;
}

.ui-grid-header-cell{
  text-align: center;
}

.well-marking{
  margin-top: 20px; 
  background:#EF7C00;
  background:rgba(239,124,0,0.8); 
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    display: none !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}



/*
.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}*/

.carousel-indicators li {
  display:none;
}

.navbar {
   background:#003D7C  !important;
}

.current_question{
   font-style: oblique;
   text-decoration: underline;
}

.correct-option{
  color:green;
  font-weight: bold;
}

.wrong-option{
  color:red;
}

.normal-option{
  color:black;
}

.missed-option{
  color:orange;
}

.ace_editor  {
  height : 300px;
}

.button-transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.tab-content{
	padding: 5px;
}

.ta-editor{
	padding: 10px;
	height: auto;
    overflow: auto;
    font-family: inherit;
	min-height: 100px;
	width: auto;
	visibility: visible;
}

.question-body {
	padding: 10px 0;
  font-size: 1.2em;
}

.question-id {
  margin-left: 16px;
}



.hideElement{
	visibility: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}