<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h2 class="panel-title" data-ng-click="isExamInfoCollapsed=!isExamInfoCollapsed">Editing {{exam.title}}
			<i class="fa fa-pencil-square-o fa-lg" style="color:green"></i></h2>
		</div>
		<div class="panel-body" collapse="isExamInfoCollapsed">
				<div class="row form-group">
					<label class="col-md-1 text-right" style="padding-right:0px">Title:</label>
				    <div class="col-md-4">
			      		<input type="text" class="form-control" data-ng-model="exam.title">
				    </div>
				    <label class="col-md-2 text-right" style="padding-right:0px">Full Marks:</label>
				    <div class="col-md-4">
			      		<input type="text" class="form-control" data-ng-model="exam.fullmarks">
				    </div>
				</div>

				<div class="row form-group">
					<label class="col-md-1 text-right" style="padding-right:0px">Time:</label>
				    <div class="form-group col-md-2">
				      <input type="text" size="6" class="form-control" data-ng-model="exam.starttime" data-autoclose="1" placeholder="Date" bs-datepicker data-date-format="dd/MM/yyyy" >
				    </div>
				    <div class="form-group col-md-2">
				      <input type="text" size="6" class="form-control" data-ng-model="exam.starttime" data-autoclose="1" placeholder="Time" bs-timepicker>
				    </div>
					<label class="col-md-2 text-right" style="padding-right:0px" >Duration(mins):</label>
				    <div class="col-md-4">
			      		<input type="text" class="form-control" data-ng-model="exam.duration">
				    </div>
				</div>
				<div class="row form-group" style="margin:10px">
					<label class="col-sm-3 text-left">Exam Instructions:</label>
					<div class="col-md-12">
						<div text-angular ta-toolbar="[['h1','h2','h3','quote'],['bold','italics','underline'],['ul','ol','html'],['justifyLeft','justifyCenter','justifyRight']]" ng-model="exam.description"></div>
					</div>
				</div>
			<div class="row formgroup">
				<button class="btn btn-success col-md-offset-5 col-md-2 text-right" style="padding:10px" ng-click="saveExam()">OK</button>
			</div>
		</div>
	</div>

	<div class="panel panel-info" data-ng-repeat="question in exam.questions">
		<div class="panel-heading">
			<div class="row">
				<button type="button" style="margin-right: 10px" class="close" data-ng-click="removeQuestion($index);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="col-md-1">Q{{ $index + 1 }}:</div>
				<div class="col-md-7">
					<input class="col-md-5" type="text" data-ng-model="question.title">	
				</div>
				<div class="col-md-3">
					<select class="pull-right" data-ng-model="question.questiontype_id" data-ng-change="onQuestionTypeChanged(question);" data-ng-options="type.id as type.name for type in questionTypes" required></select>
				</div>

			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<label class="control-label" style="margin-bottom:15px">Question body</label>
				<div text-angular ta-toolbar="[['h1','h2','h3','quote'],['bold','italics','underline'],['ul','ol','html'],['justifyLeft','justifyCenter','justifyRight']]" ng-model="question.content"></div>
						
				<form class="form-vertical">
					<div class="form-group" data-ng-show="isMCQ(question.questiontype_id);" style="margin-top:15px">
							<label class="control-label" style="margin-bottom:15px">Question Options</label>
							<div class="row" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
								<div class="col-md-9">
									<input class="form-control" type="text" placeholder="Option text" data-ng-model="option.content">
								</div>
								<label class="checkbox-inline">
									<input type="radio" name="question.id" value="1" ng-checked="option.correctOption == 1" data-ng-model="option.correctOption" ng-change="onRadioSelection($parent.$index, $index)"> correct option
								</label>
								<button type="button" style="margin-right: 40px" class="close" data-ng-click="removeOption($parent.$index,$index);"><i class="fa fa-trash-o fa-sm"></i></button>
							</div>
							<button class="btn btn-primary" data-ng-click="addOption(question);">Add new option</button>
					</div>
					<div class="form-group" data-ng-show="isMRQ(question.questiontype_id);" style="margin-top:15px">
							<label class="control-label" style="margin-bottom:15px">Question Options</label>
							<div class="row" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
								<div class="col-md-9">
									<input class="form-control" type="text" placeholder="Option text" data-ng-model="option.content">
								</div>
								<label class="checkbox-inline" style="margin-left:20px">
									<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="option.correctOption == 1" data-ng-model="option.correctOption" style="padding-left:20px"> correct option
								</label>
								<button type="button" style="margin-right: 40px" class="close" data-ng-click="removeOption($parent.$index,$index);"><i class="fa fa-trash-o fa-sm"></i></button>
							</div>
							<button class="btn btn-primary" data-ng-click="addOption(question);">Add new option</button>
					</div>
				</form>
				<div class="row" style="margin:10px" data-ng-show="isCodingQn(question.questiontype_id);">
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" data-ng-model="question.compiler_enable" data-ng-click="question.compiler_enable=!question.compiler_enable"> Enable Compiler In Exam
					</label>
				</div>
			</div>
		</div>	
		<div class="panel-footer">
			<form class="form-horizontal">
				<div class="form-group row text-bottom">
					<label class="col-md-2 control-label text-right" style="padding-right:0px">Marking Scheme</label>
					<div class="col-md-4">
						<textarea class="form-control" data-ng-model="question.marking_scheme" rows="4"></textarea>
					</div>	
				</div>
				<div class="form-group row">
					<label class="col-md-2 control-label text-right" style="padding-right:0px">Full Marks</label>
					<div class="col-md-4">
						<input type='number' class="form-control" data-ng-model="question.full_marks">
					</div>

					<div class="col-md-2 col-md-offset-3 text-right" style="vertical-align:text-bottom">
						<button class="btn btn-success" ng-click="submitQuestion($index)">Save</button>
					</div>

				</div>
			</form>
		</div>	
	</div>		
	<div class="pull-right">
		<button class="btn btn-primary" data-ng-click="addNewQuestion();">Add new question</button>
		<button class="btn btn-success" data-ng-click="saveNPreview()">Preview</button>
	</div>
</div>
