<div class="panel panel-info" data-ng-repeat="question in questions">
	<div class="panel-heading">
		<div class="row">
			<button type="button" style="margin-right: 10px" class="close" data-ng-click="removeQuestion($index);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="col-md-8">Question {{ $index + 1 }}</div>
			<div class="col-md-3">
				<select class="pull-right" data-ng-options="type.type as type.name for type in questionTypes" data-ng-model="question.type" data-ng-change="onQuestionTypeChanged(question);"></select>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Question body</label>
				<div class="col-md-8">
					<textarea class="form-control" rows="3"></textarea>
				</div>
			</div>
			<div class="form-group" data-ng-show="isMCQ(question.type);">
				<label class="col-md-3 control-label">Question options</label>
				<div class="col-md-8">
					<div class="row" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
						<div class="col-md-9">
							<input class="form-control" type="text" placeholder="Option text" data-ng-model="option.content">
						</div>
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1" data-ng-model="option.correct"> correct option
						</label>
					</div>
					<button class="btn btn-primary" data-ng-click="addOption(question);">Add new option</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="pull-right">
	<button class="btn btn-primary" data-ng-click="addNewQuestion();">Add new question</button>
	<button class="btn btn-success">Save</button>
</div>
