<div class="row" style="margin:5px" >
	<h2 data-ng-click="isExamInfoCollapsed=!isExamInfoCollapsed"><small>Editing {{exam.title}}
	<i class="fa fa-pencil-square-o fa-lg" style="color:green"></i></small></h2>
</div>
<div class="panel-body" collapse="isExamInfoCollapsed">
	<form class="row container">
		<div class="row form-group">
			<label class="col-md-1 text-right">Title:</label>
		    <div class="col-md-4">
	      		<input type="text" class="form-control" value="exam.title" data-ng-model="exam.title">
		    </div>
		    <label class="col-md-1 text-right">Full Marks:</label>
		    <div class="col-md-4">
	      		<input type="text" class="form-control" value="exam.fullmarks" data-ng-model="exam.fullmarks">
		    </div>
		</div>

		<div class="row form-group">
			<label class="col-md-1 text-right">Exam Time:</label>
		    <div class="form-group col-md-2">
		      <input type="text" size="6" class="form-control" data-ng-model="exam.starttime" data-autoclose="1" placeholder="Date" bs-datepicker data-timeType="unix" data-date-format="dd/MM/yyyy" >
		    </div>
		    <div class="form-group col-md-2">
		      <input type="text" size="6" class="form-control" data-ng-model="exam.starttime" data-autoclose="1" placeholder="Time" bs-timepicker data-timeType="unix">
		    </div>
			<label class="col-md-1 text-right">Duration in Minute:</label>
		    <div class="col-md-4">
	      		<input type="text" class="form-control" value="exam.duration" data-ng-model="exam.duration">
		    </div>
		</div>
	</form>
	<div class="row">
		<button class="btn btn-success col-md-offset-9 col-md-1 text-right" ng-click="saveExam()">OK</button>
	</div>
</div>

<div class="panel panel-info" data-ng-repeat="question in questions">
	<div class="panel-heading">
		<div class="row">
			<button type="button" style="margin-right: 10px" class="close" data-ng-click="removeQuestion($index);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="col-md-8">Question {{ $index + 1 }}</div>
			<div class="col-md-3">
				<select class="pull-right" data-ng-model="question.questiontype" data-ng-change="onQuestionTypeChanged(question);" data-ng-options="type.id as type.name for type in questionTypes" required></select>
			</div>

		</div>
	</div>
	<div class="panel-body">
		<tabset>
		    <tab>
		    	<tab-heading>
		        	<i class="fa fa-pencil"></i> Edit
		        </tab-heading>
				<div class="tab-content">
					<form class="container">

						<div class="row" style="margin:10px">
							<div class="form-group">
								<label class="col-md-2 control-label text-right">Question body</label>
								<div class="col-md-8">
									<div text-angular ta-toolbar="[['h1','h2','h3','quote'],['bold','italics','underline'],['ul','ol','html'],['justifyLeft','justifyCenter','justifyRight']]" ng-model="question.content">
									</div>
								</div>
							</div>
						</div>
								
						<div class="row" style="margin:10px">
							<div class="form-group" data-ng-show="isMCQ(question.questiontype);">
								<label class="col-md-2 control-label text-right">Question Options</label>
								<div class="col-md-8">
									<div class="row" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
										<div class="col-md-9">
											<input class="form-control" type="text" placeholder="Option text" data-ng-model="option.content">
										</div>
										<label class="checkbox-inline">
											<input type="checkbox" id="inlineCheckbox1" value="option1" data-ng-model="option.correct"> correct option
										</label>
									</div>
									<button class="btn btn-primary" data-ng-click="addOption(question);">Add new option</button>
								</div>
							</div>
						</div>
					</form>
				</div>
		    </tab>
		    <tab>
		      <tab-heading>
		        <i class="glyphicon glyphicon-cog"></i> Settings
		      </tab-heading>
			      <div class="container col-md-10" style="margin:10px">
		      		<div class="panel panel-warning">
		      			<div class="panel-heading" data-ng-click="question.coding_qn=!question.coding_qn">
			      			<input type="checkbox" data-ng-model="question.coding_qn">
			      			<label> Enable Code Editor In Exam</label>
		      			</div>
		      			<div class="panel-body" data-ng-show="question.coding_qn" data-ng-click="question.compiler_enable=!question.compiler_enable" data-ng-model="question.coding_qn">
		      				<input type="checkbox" data-ng-model="question.compiler_enable">
		      				<label> Enable Compiler In Exam</label>
		      			</div>
		      		</div>
		      		<div class="panel panel-warning">
						<div class="panel-heading" data-ng-click="hasMarkingScheme=!hasMarkingScheme">
			      			<input type="checkbox" data-ng-model="hasMarkingScheme">
			      			<label> Add Marking Scheme</label>
		      			</div>
						<div class="panel-body" data-ng-show="hasMarkingScheme">
							<p>The following will be shown to the graders while grading as guildlines.</p>
								<textarea id="data" data-ng-model="question.marking_scheme" style="width: 757px; height: 170px" rows="10" cols="80">{{question.markingscheme}}</textarea>
		      			</div>
		      		</div>
			      </div>
		    </tab>
		</tabset>
	</div>	
</div>
<div class="pull-right">
	<button class="btn btn-primary" data-ng-click="addNewQuestion();">Add new question</button>
	<button class="btn btn-success">Save</button>
</div>
