<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new exam</h3>
    </div>
    <div class="modal-body">
    	<form class="form-horizontal" role="form">
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Course</label>
    			<div class="col-md-8">
					<select class="form-control" data-ng-model="exam.course_id" data-ng-options="course.id as course.nus_id for course in courses">
					</select>
				</div>
    		</div>
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Title</label>
			    <div class="col-md-8">
		      		<input type="text" class="form-control" id="title" placeholder="Exam title" data-ng-model="exam.title">
			    </div>
    		</div>	
    	</form>
    </div>
	<div class="alert alert-danger" role="alert" data-ng-show="createError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{ createError }}
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title" data-ng-model="exam">{{'Deleting ' + exam.title}}</h3>
    </div>
    <div class="modal-body">
    	Do you want to delete all linked questions as well?
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="deleteExamWithQuestions()">Delete Exam And Questions</button>
        <button class="btn btn-primary" ng-click="deleteExam()">Delete Exam Only</button>
    </div>
</script>
<div name="newExam" style="margin:10px">
	<button data-ng-click="addExam();" class="btn btn-primary pull-right" ng-show="isAdmin"><i class="fa fa-plus fa-sm"></i> New Exam </button>	
</div>
<div style="padding-top:30px">
	<!-- <tabset>
		<tab>
			<tab-heading>Courses</tab-heading> -->
			<div class="tab-content" style="padding-top: 20px">
				<div class="panel panel-default" data-ng-repeat="course in courses">
					<div class="panel-heading dashboard-heading"><h4><a data-ng-click="viewCourse(course.id)"  class="dashboard-title" ng-class="{'not-active':course.user_role=='student'}">{{ course.nus_id + " " + course.name }}</a></h4></div>
					<div class="panel-body" data-ng-bind-html="course.description"></div>
					<div class="list-group">
						<div class="list-group-item" data-ng-repeat="exam in course.exams">
							<div class="row">
								<div class="col-md-8">
									<h5>{{ exam.title }} 
										<span class="label" ng-class="getExamLabel(exam)">{{exam.statusText}}</span>
									</h5>
								</div>
								<div class="col-md-4">
									<div class="button-group pull-right">
											<button data-ng-click="editExam(exam.id);" class="btn btn-default" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-pencil"></i></small></button>
											<button data-ng-click="previewExam(exam.id);" class="btn btn-default" ng-show="(course.user_role!='student'&&exam.status!='draft')||isAdmin"><small><i class="fa fa-eye"></i></small></button>
											<button data-ng-click="viewSubmissions(exam.id);" class="btn btn-primary" ng-show="course.user_role!='student'&&(exam.status=='finished'||exam.status=='published')"><small><i class="fa fa-bar-chart-o" style="color:white"></i></small></button>
											<button data-ng-click="startExam(exam.id);" class="btn btn-success" ng-show="exam.status=='in_exam'"><small> START  <i class="fa fa-play-circle"></i></small></button>
											<button data-ng-click="removeExam(exam);" class="btn btn-danger" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-trash-o" style="color:white"></i></small></button>
											<button data-ng-click="viewGradedPaper(exam.id);" class="btn btn-default" ng-show="course.user_role=='student'&&exam.status=='published'"><small><i class="fa fa-eye"></i></small></button>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- </tab>
		<tab>
			<tab-heading>Courses</tab-heading>
		</tab>
	</tabset> -->
</div>