<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new exam</h3>
    </div>
    <div class="modal-body">
    	<form class="form-horizontal" role="form">
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Course</label>
    			<div class="col-md-8">
					<select class="form-control" data-ng-model="exam.course_id" data-ng-options="course.id as course.nus_id for course in courses">
					</select>
				</div>
    		</div>
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Title</label>
			    <div class="col-md-8">
		      		<input type="text" class="form-control" id="title" placeholder="Exam title" data-ng-model="exam.title">
			    </div>
    		</div>	
    	</form>
    </div>
	<div class="alert alert-danger" role="alert" data-ng-show="createError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{ createError }}
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title" data-ng-model="exam">{{'Deleting ' + exam.title}}</h3>
    </div>
    <div class="modal-body">
    	Do you want to delete all linked questions as well?
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="deleteExamWithQuestions()">Delete Exam And Questions</button>
        <button class="btn btn-primary" ng-click="deleteExam()">Delete Exam Only</button>
    </div>
</script>

<button data-ng-click="addExam();" class="btn btn-primary pull-right" ng-show="isAdmin">Create new exam</button>
<ul class="nav nav-tabs">
	<li role="presentation" data-ng-class="{active:isTabSelected(1)}"><a href data-ng-click="selectTab(1);">Courses</a></li>
	<li role="presentation" data-ng-class="{active:isTabSelected(2)}"><a href data-ng-click="selectTab(2);">Recent</a></li>
</ul>	
<div class="tab-content" style="padding-top: 20px">
	<div class="tab-pane" data-ng-class="{active:isTabSelected(1)}">
		<div class="panel panel-default" data-ng-repeat="course in courses">
			<div class="panel-heading"><a data-ng-click="viewCourse(course.id)">{{ course.nus_id + " " + course.name }}</a></div>
			<div class="panel-body" data-ng-bind-html="course.description"></div>
			<div class="list-group">
				<div class="list-group-item" data-ng-repeat="exam in course.exams">
					<div class="row">
						<div class="col-md-6">
							<h5>{{ exam.title }} <span class="label" ng-class="getExamLabel(exam)">{{exam.status}}</span>
							</h5>
						</div>
						<div class=" col-md-3 col-md-offset-3">
							<button data-ng-click="removeExam(exam);" class="btn btn-danger pull-right" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-trash-o"></i></small></button>
							<button data-ng-click="editExam(exam.id);" class="btn btn-default pull-right" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-pencil"></i></small></button>
							<button data-ng-click="previewExam(exam.id);" class="btn btn-default pull-right" ng-show="isAdmin"><small><i class="fa fa-eye"></i></small></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" data-ng-class="{active:isTabSelected(2)}">
		<div class="list-group">
			<a class="list-group-item list-group-item-success"><span class="badge">14/11/2014</span>CS1010S Mid-term test has completed</a>
			<a class="list-group-item list-group-item-info"><span class="badge">13/11/2014</span>Tutor A has finished marking CS2010 test 2 for Group A</a>
			<a class="list-group-item list-group-item-info"><span class="badge">13/11/2014</span>Tutor C has finished marking CS2010 test 2 for Group C</a>
			<a class="list-group-item list-group-item-info"><span class="badge">12/11/2014</span>Tutor B has finished marking CS2010 test 2 for Group B</a>
			<a class="list-group-item list-group-item-warning"><span class="badge">12/11/2014</span>Your added CS2010 test 3</a>
		</div>
	</div>
</div>