<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h4 class="modal-title" data-ng-model="exam">Automatic Grading</h4>
    </div>
    <div class="modal-body alert alert-success">
    	All MCQs has been graded!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="OK()">Close</button>
    </div>
</script>

<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
	<div class="row" style="margin:10px">
		<h2> {{exam.title}}
		<div class="button-group pull-right">
			<button class='btn btn-primary' data-ng-show="exam.grading_finished">Publish</button>
			<button class='btn btn-primary'data-ng-hide="exam.grading_finished" data-ng-click="randomStart()">Start Marking</button>
			<button class='btn btn-info'data-ng-hide="exam.grading_finished" data-ng-click="markAllMCQs()">Mark All MCQs</button>
		</div>
		</h2>
	</div>
	<div class="row" style="margin-top:50px">
		<div class="col-md-5 col-md-offset-1">
			<canvas id="bar" class="chart chart-bar exam-chart" data="graph.graphData" labels="graph.graphLabels"></canvas> 
			<div class="text-center graph-label">Grades Distribution</div>
		</div>
		<div class="col-md-5">
			<canvas id="doughnut" class="chart chart-doughnut exam-chart" data="progress.data" labels="progress.labels"></canvas> 
			<div class="text-center graph-label">Marking Progress</div>
		</div>
	</div>
	<div class="tab-content" style="padding-top:50px">
		<tabset>
			<tab>
				<tab-heading>All Submission <span class="badge">{{exam.submission_status.total}}</span></tab-heading>
				 <div class="tab-content">
					 <div grid ui-grid="AllSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(1)">Export</button>
					 </div>
				</div>
			</tab>
			<tab>
				<tab-heading>Graded <span class="badge">{{exam.submission_status.graded}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="gradedSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(2)">Export</button>
					 </div>
				</div>			
			</tab>
			<tab>
				<tab-heading>Grading <span class="badge">{{exam.submission_status.grading}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="gradingSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(3)">Export</button>
					 </div>
				</div>			
			</tab>
			<tab>
				<tab-heading>Not Graded <span class="badge">{{exam.submission_status.not_graded}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="notGradedSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(4)">Export</button>
					 </div>
				</div>			
			</tab>
		</tabset>
	</div>
</div>