<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h4 class="modal-title" data-ng-model="exam">Automatic Grading</h4>
    </div>
    <div class="modal-body alert alert-success">
    	All MCQs has been graded!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="OK()">Close</button>
    </div>
</script>

<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
	<!-- <div class="well" style="margin:10px" data-ng-model="exam"> -->
	<div class="row">
		<div class="col-md-6">
			<h2> {{exam.title}}</h2> 
		</div>
		<div class="col-md-6">

		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-md-8 col-md-offset-2">
			<canvas id="bar" class="chart chart-bar exam-chart" data="graph.graphData" labels="graph.graphLabels"></canvas> 
		</div>
	</div>
		<div style="margin-top:30px">
			<div class="row" style="margin:10px" >
				<small><em>Marking Progress:</em></small>
				<progress><bar ng-repeat="status in exam.status_data track by $index" value="status.value" type="{{status.type}}"><span ng-hide="status.value < 5"><small><em>{{status.text + status.count}}</small></em></span></bar></progress>
			</div>
			<div class="row" style="margin:10px">
				<button class='btn btn-primary col-md-1 pull-right' data-ng-show="exam.grading_finished">Publish</button>
				<button class='btn btn-primary col-md-2 pull-right'data-ng-hide="exam.grading_finished" data-ng-click="randomStart()">Start Marking</button>
				<button class='btn btn-info col-md-2 pull-right'data-ng-hide="exam.grading_finished" data-ng-click="markAllMCQs()">Mark All MCQs</button>
			</div>
		</div>
	<!-- </div> -->
	<div class="tab-content">
		<tabset>
			<tab>
				<tab-heading>All Submission <span class="badge">{{exam.submission_status.total}}</span></tab-heading>
				 <div class="tab-content">
					 <div grid ui-grid="AllSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(1)">Export</button>
					 </div>
				</div>
			</tab>
			<tab>
				<tab-heading>Graded <span class="badge">{{exam.submission_status.graded}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="gradedSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(2)">Export</button>
					 </div>
				</div>			
			</tab>
			<tab>
				<tab-heading>Grading <span class="badge">{{exam.submission_status.grading}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="gradingSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(3)">Export</button>
					 </div>
				</div>			
			</tab>
			<tab>
				<tab-heading>Not Graded <span class="badge">{{exam.submission_status.not_graded}}</span></tab-heading>
				 <div class="tab-content">
					 <div ui-grid="notGradedSubmissionsGrid" ui-grid-exporter class="submissionGrid"></div>
					 <div class="row" style="margin:10px">
					 	<button class="btn btn-success col-md-2 col-md-offset-5" ng-click="export(4)">Export</button>
					 </div>
				</div>			
			</tab>
		</tabset>
	</div>
</div>