<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h4 class="modal-title" data-ng-model="exam">No More Papers Found!</h4>
    </div>
    <div class="modal-body alert alert-success">
    	Yay this is the last paper to mark!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="OK()">Close</button>
    </div>
</script>
<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="exam">
	<div class="well">
		<div style="margin-top:10px">
			<h3 class="text-center">
					Total Marks: {{ submission.total_marks }} / {{ exam.fullmarks }}
				<span class="button-transparent" data-ng-click="nextSubmission()"><i class="fa fa-long-arrow-right pull-right"></i></span>
			</h3>
			<p class="text-center" style="color:grey"><i class="fa fa-user"></i> {{ submission.student }}</p>
		</div>
		<label>Progress: 
			<a data-ng-repeat="question in exam.questions" data-ng-click="goToQuestion($index)" class="question-id label" ng-class="getQuestionStatus(question)" ng-class="{'big':currentQuestion===$index}"><span ng-class="{'current_question':isQuestionActive[$index]}">Qn {{ $index + 1}}</span></a>
		</label>
	</div>

	  <div>
	    <carousel interval="0">
	      <slide ng-repeat="question in exam.questions" active="isQuestionActive[$index]">        
	 		<div class="panel panel-primary">
				<div class="panel-heading">
					Question {{ $index+1 }}: {{ question.title }}
					<span class="button-transparent" data-ng-click="isQuestionCollapsed[$index]=!isQuestionCollapsed[$index]" data-ng-show="isQuestionCollapsed[$index]"><i class="fa fa-chevron-down"></i></span>
					<span class="button-transparent" data-ng-click="isQuestionCollapsed[$index]=!isQuestionCollapsed[$index]" data-ng-hide="isQuestionCollapsed[$index]"><i class="fa fa-chevron-up"></i></span>
				</div>
				<div class="panel-body" style="padding-left:50px;padding-right:50px">
					<div class="question-body" style="text-align:left" collapse="isQuestionCollapsed[$index]"> 		<codearea raw="question.content" ></codearea>
					</div>
					<div class="row tab-content">
						<label><i class="fa fa-warning" style="color:#EF7C00"></i> Marking scheme:</label>
						<div><textarea class="form-control" style="height:70px;overflow:auto" readonly>{{ question.marking_scheme}}</textarea></div>
					</div>
					<div class="row tab-content" style="margin-top:10px"> <label class="pull-left">Student's answer:</label> <span class="label label-default pull-right" data-ng-show="isCodingQuestion(question)" data-ng-click="showOriginal(question.submission)">restore original</span></div>

					<div class="row tab-content text-left">
						<div data-ng-if="isMCQ(question);" style="height:200px;">
							<div style="height:80px">
								<span data-ng-repeat="option in question.options">
									<label class="checkbox-inline">
										<input type="radio" name="question.id" ng-checked="option.id===question.submission.choice" ng-model="selected" value="{{option.id}}" disabled>
										{{ option.content }}
									</label>
								</span>	
							</div>
							<div class="tab-content" style="height:50px;margin-top=20px">
								<label>Answers:</label>
								<div ng-repeat="option in question.options" ng-show="option.correctOption == 1"><h5 style="color:green">{{option.content}}</h5>
								</div>
							</div>
						</div>
						<div data-ng-if="isMRQ(question);" class="tab-content" style="height:200px">
							<div style="height:80px">
								<span data-ng-repeat="option in question.options">
									</label class="checkbox-inline">
										<input type="checkbox" checklist-value="option.id" checklist-model="question.submission.choices" disabled>
										{{ option.content }}
									</label>
								</span>
							</div>
							<div class="tab-content" style="height:50px;margin-top=20px">
								<label>Answers:</label>
								<div ng-repeat="option in question.options" ng-show="option.correctOption == 1"><h5 style="color:green">{{option.content}}</h5>
								</div>
							</div>
						</div>			
						<div data-ng-if="isShortQuestion(question);" style="height:200px">
							<textarea class="form-control" data-ng-model="question.submission.answer" rows="4" readonly style="height:200px;overflow:auto"></textarea>
						</div>
						<div data-ng-if="isCodingQuestion(question);">
							<div id="editor" ui-ace=aceOptions data-ng-model="question.submission.answer_copy" style="height:180px"></div>
							<div class="row" style="margin-right:10px">
								<button class="btn btn-warning pull-right" style="margin-top: 10px;" data-ng-click="CompileRun(question.submission)">Compile and Execute</button>
							</div>
							<div name="code_output" data-ng-show="question.submission.resultReady">
								<label>Output:</label>
								<div class="row" style="margin:10px">
									<div class="alert alert-danger" data-ng-show="question.submission.compilation_fail">{{question.submission.compilation_error}}</div>
									<div class="alert alert-success" data-ng-show="question.submission.compilation_fail == false">{{question.submission.output}}</div>	
								</div>
							</div>	
						</div>
						<div class="well" style="margin-top:20px">
							<form class="form-horizontal" name="feedbackForm">
								<div class="form-group" ng-class="{'has-error':feedbackForm.marks.$invalid && feedbackForm.marks.$dirty}">
									<label class="col-md-2 control-label text-right">Marks:</label>
									<div class="col-md-9 text-left">
										<input class="form-control" type="number" name="marks" max="{{question.full_marks}}" data-ng-model="question.submission.marks_obtained" placeholder="{{question.full_marks}}/{{ question.full_marks }}"> 
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label text-right">Comments:</label>
									<div class="col-md-9">
										<textarea class="form-control" rows="2" data-ng-model="question.submission.comment"></textarea>
									</div>
								</div>
							</form>
						</div>
						<div class="row">
							<button class="btn btn-success col-md-offset-5 col-md-2 text-right" style="padding:10px" ng-click="markQuestion($index)" data-ng-disabled="feedbackForm.$dirty==false||feedbackForm.$invalid" >OK</button>
						</div>
					</div>
				</div>
			</div>
	      </slide>
	    </carousel>
	  </div>	
	</div>
</div>