<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
	<div class="well">
		<label>{{ exam.title }} <small>({{ exam.description }})</small></label>
		<div class="row">
			<div class="col-md-2">Submitted at: </div>
			<div class="col-md-4">{{ submission.updated_at }}</div>
		</div>
		<div class="row">
			<div class="col-md-2">Marks obtained: </div>
			<div class="col-md-4">{{ submission.total_marks }} / {{ exam.fullmarks }}</div>
		</div>
	</div>

	<!-- question submission section -->
	<div class="panel panel-info" data-ng-repeat="question in exam.questions">
		<div class="panel-heading">
			Question {{ $index+1 }} ({{ question.title }})
		</div>
		<div class="panel-body">
			<div data-ng-bind-html="question.content" class="question-body"></div>
			<div class="row">
			<div class="col-md-6">
				<label>Student's answer:</label>
				<div data-ng-if="isMCQ(question);" class="row">
					<div class="col-md-6" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
						<label class="checkbox-inline">
							<input type="radio" name="question.id" ng-checked="isChecked(option.id)" value="{{option.id}}" disabled>
							{{ option.content }}
						</label>
					</div>
				</div>
				<div data-ng-if="isMRQ(question);" class="row">
					<div class="col-md-6" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
							<input type="checkbox" ng-checked="isChecked(option.id)" checklist-value="option.id" checklist-model="curQnSubmission.choices" disabled>
							{{ option.content }}
						</label>
					</div>
				</div>			
				<div data-ng-if="isShortQuestion(question);">
					<textarea class="form-control" data-ng-model="question.submission.answer" rows="4" readonly></textarea>
				</div>
				<div data-ng-if="isCodingQuestion(question);">
					<div id="editor" ui-ace=aceOptions data-ng-model="question.submission.answer" rows="4"></div>
					<button class="btn btn-warning pull-right" style="margin-top: 10px;">Run for result</button>
				</div>
			</div>
			<div class="col-md-6">
				<div data-ng-if="isMRQ(question) || isMCQ(question)">
					<label>Answers:</label>
					<p>@Lingyi: add answers here</p>
				</div>

				<label>Marking scheme:</label>
				<p>{{ question.marking_scheme}}</p>
				<div class="well well-sm" style="margin-top: 20px;">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">Marks:</label>
							<div class="col-md-9">
								<input type="text" placeholder="{{ question.full_marks }}"/> / {{ question.full_marks }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Comments:</label>
							<div class="col-md-9">
								<textarea class="form-control" rows="2"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>