<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/course/{{exam.course.id}}">{{exam.course.nus_id}}</a></li>
  <li class="active">{{exam.title}}</li>
</ol>
<div id="printsection">
	<div class="row" style="margin:5px" >
		<div class="col-md-6">
			<h3>{{ exam.title }}</h3>
		</div>
	</div>
	<div class="panel-body">
		<div class="row" style="margin:10px">
			<div class="col-md-2 text-center">
				<label>Total Questions:</label>
				<span>{{ exam.totalqn }}</span>
			</div>	
			<div class="col-md-2 col-md-offset-1 text-center">
				<label>Full Marks:</label>
				<span>{{ exam.fullmarks }}</span>
			</div>
			<div class="col-md-3 col-md-offset-1 text-center">
				<label>Exam Time:</label>
				<span>{{ exam.starttime | date:'yyyy-MM-dd HH:mm' }}</span>
			</div>
			<div class="col-md-2 col-md-offset-1 text-center">
				<label>Duration:</label>
				<span>{{ exam.duration }} minutes</span>
			</div>
		</div>
		<div class="row well">
			<div data-ng-bind-html="exam.description"></div>
		</div>
	</div>

	<div class="panel panel-info" data-ng-repeat="question in exam.questions">

			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">Question {{ $index + 1 }}: {{question.title}} ({{ question.full_marks}} marks)</div>
				</div>
			</div>

			<div class="panel-body">
				<codearea raw="question.content"></codearea>
	<!-- 			<div data-ng-if="isCodingQuestion(question);" class="java hljs"><code>{{question.content}}</code></div>
	 -->		 <div data-ng-if="isMCQ(question);">
					<div style="margin-bottom: 10px" data-ng-repeat="option in question.options">
						<label class="checkbox-inline">
							<input type="radio" name="question.id" ng-checked="isChecked(option.id)" value="{{option.id}}" data-ng-model="curQnSubmission.choice">
							{{ option.content }}
						</label>
					</div>
				</div>
				<div data-ng-if="isMRQ(question);">
					<div style="margin-bottom: 10px" data-ng-repeat="option in question.options">
						<label class="checkbox-inline">
							<input type="checkbox" ng-checked="isChecked(option.id)" checklist-value="option.id" checklist-model="curQnSubmission.choices">
							{{ option.content }}
						</label>
					</div>
				</div>			
			</div>
	</div>
</div>
<div class="pull-right">
	<button class="btn btn-primary" data-ng-click="cancel()">Back</button>
	<button class="btn btn-success" data-ng-show="isAdmin && (exam.status == 'not_started' || exam.status == 'draft') " data-ng-click="publishUnpublish()">{{publish}}</button>
	<button class="btn btn-warning" print-div="#printsection">PDF</button>
</div>

<!-- 
<div id='pdf-template' style="display: none;">
	<div id="exam-info">
		<h3 style="text-align:center">{{ exam.title }}</h3>
		<div data-ng-bind-html="exam.description" style="text-align:left margin:20px"><!-- <i>{{ exam.description }}</i> </div>
		<div style="margin:20px">
			<div style="margin-left:10px"><b>Total Marks:</b> {{ exam.fullmarks }}</div>
			<div style="margin-left:10px"><b>Exam Time:</b> {{ exam.starttime | date:'yyyy-MM-dd HH:mm:ss':'+0800' }}</div>
			<div style="margin-left:10px"><b>Duration:</b> {{ exam.duration }} minutes</div>
			<br/><br/>
		</div>
	</div>
	<div id="exam-questions" style="margin-top:30px">
		<div data-ng-repeat="question in exam.questions">
			<h4>Question {{ $index + 1 }}: {{question.title}} ({{ question.full_marks}} marks)</h4>
			<div data-ng-bind-html="question.content" hljs></div>
			<div data-ng-if="isMCQ(question) || isMRQ(question)">
				<ul style="list-style-type:disc">
					<li data-ng-repeat="option in question.options">{{ option.content }}</li>
				</ul>
			</div>
			<br/>
			<br/>
		</div>
	</div> -->
<!-- 	<style>
		#disc {
		  list-style-type: disc;
		}

		#circle {
		  list-style-type: circle;
		}

		#square {
		  list-style-type: square;
		}

		#decimal {
		  list-style-type: decimal;
		}

		#decimal-leading-zero {
		  list-style-type: decimal-leading-zero;
		}

		#lower-roman {
		  list-style-type: lower-roman;
		}

		#upper-roman {
		  list-style-type: upper-roman;
		}

		#lower-greek {
		  list-style-type: lower-greek;
		}

		#lower-latin {
		  list-style-type: lower-latin;
		}

		#upper-latin {
		  list-style-type: upper-latin;
		}

		#armenian {
		  list-style-type: armenian;
		}

		#georgian {
		  list-style-type: georgian;
		}

		#lower-alpha {
		  list-style-type: lower-alpha;
		}

		#upper-alpha {
		  list-style-type: upper-alpha;
		}
	</style> 
</div>
-->