<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
<div id="printsection">
	<div class="row" style="margin:5px" >
		<div class="col-md-6">
			<h3>{{ exam.title }}</h3>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<label class="col-md-2 text-right">Marks Obtained:</label>
			<p class="col-md-1 text-left">{{submission.total_marks}} / {{ exam.fullmarks }}</p>
			<label class="col-md-2 col-md-offset-4 text-right">Exam Time:</label>
			<p class="col-md-3">{{ exam.starttime }}</p>
		</div>
		<div class="row well" data-ng-if="exam.general_feedback!=null">
			<div data-ng-bind-html="exam.general_feedback"></div>
		</div>
	</div>

	<div class="panel panel-info" data-ng-repeat="question in exam.questions">

			<div class="panel-heading">
				<div class="row">
					<div class="col-md-4">Question {{ $index + 1 }}: {{question.title}}</div>
					<div class="col-md-2 pull-right"><b>({{question.submission.marks_obtained}}/{{ question.full_marks}} marks)</b></div>
				</div>
			</div>

			<div class="panel-body">
<!-- 				<div data-ng-bind-html="question.content" class="question-body"></div>
 -->				<codearea raw="question.content" class="question-body"></codearea>
				<div name="student-answer" style="margin:10px">
					<label>Your answer:</label>
					<div data-ng-if="isMCQ(question);" class="row">
						<div class="col-md-6" data-ng-repeat="option in question.options">
							<label class="checkbox-inline" style="color:{{isCorrectMCQ(question.submission,option)}}">
								<input type="radio" name="question.id" ng-checked="option.id===question.submission.choice" ng-model="selected" value="{{option.id}}" disabled>
								{{ option.content }}
							</label>
						</div>
					</div>
					<div data-ng-if="isMRQ(question);" class="row">
						<div class="col-md-6" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
							</label class="checkbox-inline" style="{{isCorrectMRQ(question.submission,option)}}">
								<input type="checkbox" ng-checked="question.submission.choices.indexOf(option.id)!=-1" disabled>
								{{ option.content }}
							</label>
						</div>
					</div>			
					<div data-ng-if="isShortQuestion(question);">
						<div>{{question.submission.answer}}</div>
					</div>
					<div data-ng-if="isCodingQuestion(question);">
						<codearea raw="question.submission.answer_copy"></codearea>
					</div>
				</div>	
			</div>
			<div class="panel-footer">
				<div name="suggested-answer" style="margin:10px">
					<label>Suggested Answer:</label>
					<div>{{question.suggested_answer}}</div>
				</div>
				<div name="comment" style="margin:10px">
					<label>Comment:</label>
					{{question.submission.comment}}
				</div>
				<div name="general-feedback" style="margin:10px">
					<label>General Feedback:</label>
					<div>{{question.general_feedback}}</div>
				</div>	
			</div>

	</div>
</div>
<div class="pull-right">
	<button class="btn btn-primary" data-ng-click="cancel()">Back</button>
	<button class="btn btn-warning" print-div="#printsection">PDF</button>
</div>
</div>