<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
<div class="row" style="margin:5px" >
	<div class="col-md-6">
		<h3>{{ exam.title }}</h3>
	</div>
</div>
<div class="panel-body">
	<div class="row">
		<label class="col-md-2 text-right">Total Marks:</label>
		<p class="col-md-1 text-left">{{ exam.fullmarks }}</p>
		<label class="col-md-2 text-right">Exam Time:</label>
		<p class="col-md-3">{{ exam.starttime }}</p>
		<label class="col-md-1 text-left">Duration:</label>
		<p class="col-md-2">{{ exam.duration }} minutes</p>
	</div>
	<div class="row well">
		<div data-ng-bind-html="exam.description"></div>
	</div>
</div>

<div class="panel panel-info" data-ng-repeat="question in exam.questions">

		<div class="panel-heading">
			<div class="row">
				<div class="col-md-8">Question {{ $index + 1 }}: {{question.title}} ({{ question.full_marks}} marks)</div>
			</div>
		</div>

		<div class="panel-body">
			<div data-ng-bind-html="question.content" class="question-body"></div>
			<div>
				<label>Student's answer:</label>
				<div data-ng-if="isMCQ(question);" class="row">
					<div class="col-md-6" data-ng-repeat="option in question.options">
						<label class="checkbox-inline" style="color:{{isCorrectMCQ(question.submission,option)}}">
							<input type="radio" name="question.id" ng-checked="option.id===question.submission.choice" ng-model="selected" value="{{option.id}}" disabled>
							{{ option.content }}
						</label>
					</div>
				</div>
				<div data-ng-if="isMRQ(question);" class="row">
					<div class="col-md-6" style="margin-bottom: 10px" data-ng-repeat="option in question.options">
						</label class="checkbox-inline" style="{{isCorrectMRQ(question.submission,option)}}">
							<input type="checkbox" checklist-value="option.id" checklist-model="question.submission.choices" disabled>
							{{ option.content }}
						</label>
					</div>
				</div>			
				<div data-ng-if="isShortQuestion(question);">
					<textarea class="form-control" data-ng-model="question.submission.answer" rows="4" readonly></textarea>
				</div>
				<div data-ng-if="isCodingQuestion(question);">
					<div id="editor" ui-ace data-ng-model="question.submission.answer" rows="4"></div>
					<button class="btn btn-warning pull-right" style="margin-top: 10px;">Compile and Run</button>
				</div>
			</div>		
		</div>

</div>
<div class="pull-right">
	<button class="btn btn-primary" data-ng-click="cancel()">Back</button>
	<button class="btn btn-success" data-ng-click="publishUnpublish()">{{publish}}</button>
</div>
</div>