<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new exam</h3>
    </div>
    <div class="modal-body">
    	<form class="form-horizontal" role="form">
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Course</label>
    			<div class="col-md-8">
					<select class="form-control" data-ng-model="exam.course_id" data-ng-options="course.id as course.nus_id for course in courses">
					</select>
				</div>
    		</div>
    		<div class="form-group">
    			<label for="title" class="col-md-2 col-md-offset-1 control-label">Title</label>
			    <div class="col-md-8">
		      		<input type="text" class="form-control" id="title" placeholder="Exam title" data-ng-model="exam.title">
			    </div>
    		</div>	
    	</form>
    </div>
	<div class="alert alert-danger" role="alert" data-ng-show="createError">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{ createError }}
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title" data-ng-model="exam">{{'Deleting ' + exam.title}}</h3>
    </div>
    <div class="modal-body">
    	Do you want to delete all linked questions as well?
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="deleteExamWithQuestions()">Delete Exam And Questions</button>
        <button class="btn btn-primary" ng-click="deleteExam()">Delete Exam Only</button>
    </div>
</script>

<h3 data-ng-if="error">{{ error }}</h3>
<div data-ng-if="!error">
	<div style="padding-top: 20px">
		<div>
			<h3>{{ course.nus_id + " " + course.name }}
				<button data-ng-click="saveAndToggle();" class="btn btn-default pull-right" ng-show="isAdmin"><small><i class="fa fa-pencil fa-lg"></i></small></button>
				<button data-ng-click="addExam();" class="btn btn-default pull-right" ng-show="isAdmin"><small><i class="fa fa-plus fa-lg"></i></small></button>
			</h3>
		</div>
		<div class=" row panel-body" collapse="isDescriptionCollapsed">
				<button type="button" style="margin-right: 20px" class="close" data-ng-click="saveAndToggle();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="col-md-12" text-angular ta-toolbar="[['h1','h2','h3','quote'],['bold','italics','underline'],['ul','ol','html'],['justifyLeft','justifyCenter','justifyRight']]" ng-model="course.description"></div>
		</div>
		<tabset style="padding-top:30px">
			<tab>
				<tab-heading>
		        	Exams
		      	</tab-heading>
				<div class="well" style="margin:10px" data-ng-repeat="exam in course.exams">
					<div>
						<h4> {{exam.title}} 
							<small><span class="label" ng-class="getExamLabel(exam)">{{exam.statusText}}</span></small>
								<button data-ng-click="removeExam(exam);" class="btn btn-danger pull-right" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-trash-o" style="color:white"></i></small></button>
								<button data-ng-click="editExam(exam.id);" class="btn btn-default pull-right" ng-show="course.user_role=='admin'&&exam.status=='draft'"><small><i class="fa fa-pencil"></i></small></button>
								<button data-ng-click="previewExam(exam.id);" class="btn btn-default pull-right" ng-show="isAdmin"><small><i class="fa fa-eye"></i></small></button>
						</h4>
						<small ng-show="isExamFinished(exam)"><i class="fa fa-clock-o" style="color:grey"></i><span am-time-ago="exam.starttime" style="font-weight:light;color:grey;margin-left:5px"></span></small>

					</div>
					<div data-ng-show="isExamFinished(exam)" collapse='exam.isGradingCollapse' style="margin-top:30px">
						<div class="row" style="margin:10px" >
							<small><em>Grading Progress:</em></small>
							<progress><bar ng-repeat="status in exam.status_data track by $index" value="status.value" type="{{status.type}}"><span ng-hide="status.value < 5"><small><em>{{status.text + status.count}}</small></em></span></bar></progress>
						</div>
						<div class="row" style="margin:10px">
							<span data-ng-repeat="group in course.groups"><a>{{group.name}} </a>|</span>
							<button class='btn btn-primary col-md-1 pull-right' data-ng-show="exam.grading_finished">Publish</button>
							<button class='btn btn-success col-md-2 pull-right'>Random Grade</button>
							<button class="btn btn-default col-md-1 pull-right"><i class="fa fa-bar-chart-o"></i></button>
						</div>
						<div class="row">
							<div class="col-md-offset-5" data-ng-click="areSubmissionsCollapsed=!areSubmissionsCollapsed">
								<a>Show All Submissions.. </a>
								<span class="button-transparent"><i class="fa fa-chevron-down"></i></span>
							</div>
						</div>
						<div name="submissions" style="overflow:auto" collapse="areSubmissionsCollapsed">
							<div class="list-group">
								<div class="list-group-item" data-ng-repeat="submission in exam.submissions" data-ng-click="gradePaper(exam.id,submission.id);">
									{{($index+1) + ".  " }} <a>{{submission.user}}</a>
									<span class="label {{getStatusClass(submission)}} pull-right">{{submission.statusText}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab>
				<tab-heading>
		        	Groups
		      	</tab-heading>
			</tab>
		</tabset>

	</div>
</div>